/* Global Layout Set-up */

/* 3 dots menu icon */
a
{
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

a:hover
{
  color: tomato;
}

#menuToggle
{
  display: block;
  position: absolute;
  top: 43px;
  right: 55px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 0;
  padding: 50px;
  padding-top: 125px;
  right: -100px;

  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's fade it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: scale(1.0, 1.0);
  opacity: 1;
}

/* image */
img.rounded-img{
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-top: 10px;
  border: 3px solid black;
  transition: all .5s;
  margin-right: 20px;
}

.rounded-img:hover {
  transform: scale(1.2) rotate(0deg);
}

/* effect on my project box */
.cell {
  background: white;
  margin: auto;
  margin-top: 2%;
  max-width: 30%;
  padding: 20px 50px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.cell:hover {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  animation-name: example;
  animation-duration: 0.25s;
  border-left: 8px solid red;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/* Icon Button for my home */
.btn {
  border: none;
  color: blue;
  cursor: pointer;
}

/* Darker background on mouse-over */
.btn:hover {
  color: white;
}

/* social media icon */
.fa {
  padding: 5px;
  font-size: 22px;
  width: -10%;
  text-align: center;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 25px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 2;
}

.fa-facebook {
  margin-right: auto;
  background: black;
  color: white;
}
.fa-facebook:hover {
  transform: scale(1.2);
}

.fa-instagram {
  background: black;
  color: white;
}

.fa-instagram:hover {
  transform: scale(1.2);
}
/* introduze mouseover and mouseout on Background paragraph and Goals paragraph */
.intro {
  font-size: 150%;
  color: black;
  font-style: oblique;
}


body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #222;
  background: #f7f5f0;
}

/* Link Styles */
a {
  text-decoration: none;
  color: #0499ff;
}

a:hover {
  color: #6633ff;
}

/* Section Styles */
.main-nav {
  width: 100%;
  background: black;
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.nav .name {
  padding: 25px;
}

.nav li {
  padding: 5px 5px 10px 10px;
}

.nav a {
  transition: all .5s;
}

.nav a:hover {
  color: white
}

header {
  text-align: center;
  background: url('https://stmed.net/sites/default/files/watch-dogs-hd-wallpapers-33894-4266727.jpg') no-repeat top center;
  background-size: cover;
  overflow: hidden;
}

header {
  line-height: 1.5;
}

.tag {
  color: green;
  padding: 10px;
  border-radius: 5px;
  display: table;
  margin: 10px auto;
}

.Information {
  background-color: black;
  color: yellow;
}

ul.skills {
  padding: 0;
  text-align: center;
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: #ff9904;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills li:nth-child(odd) {
  background: black;
}

/* style my line br */

hr.style-three {
height: 25px;
border-style: solid;
border-color: black;
border-width: 1px 0 0 0;
border-radius: 20px;
margin-top: 3%;
margin-bottom: -20px;
}
hr.style-three:before {
display: block;
content: "";
height: 30px;
margin-top: -31px;
border-style: solid;
border-color: black;
border-width: 0 0 1px 0;
border-radius: 20px;
}

/* Title text effect */
#app {
	height: 30vh;
	width: 100%;
	margin-top:  10%;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-size: cover;
	background-position: center;
	z-index: 1;
  color: white;
}

#wrapper {
	 text-align: center;
   margin-bottom: 3%;
}

.sub {
	color: lightskyblue;
	letter-spacing: 1em;
}

/* Footer */

#myFooter {
  padding-top: 32px;
}

#myFooter .footer-copyright {
  margin-bottom: 35px;
  text-align: center;
  color: #777;
}

#myFooter a {
  color: #282b2d;
  font-size: 18px;
}

#myFooter li {
  display: inline-block;
  margin: 0px 15px;
  line-height: 2;
}

#myFooter .footer-social {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #eee;
}

#myFooter .fa {
  font-size: 36px;
  margin-right: 15px;
  margin-left: 20px;
  background-color: white;
  color: #d0d0d0;
  border-radius: 51%;
  padding: 10px;
  height: 60px;
  width: 60px;
  text-align: center;
  line-height: 43px;
  text-decoration: none;
  transition: color 0.2s;
}

#myFooter .fa-github:hover {
  color: black;
}

#myFooter .fa-github:focus {
  color: black;
}

#myFooter .fa-twitter:hover {
  color: #00aced;
}

#myFooter .fa-twitter:focus {
  color: #00aced;
}

#myFooter .fa-linkedin:hover {
  color: #007BB6;
}

#myFooter .fa-linkedin:focus {
  color: #007BB6;
}

#myFooter {
  flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
}

/* Styles for larger screens */
@media screen and (min-width: 320px) {
  .flex {
    display: flex;
    max-width: 1200px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: -5%;
    margin-bottom: 4%;
  }

  header {
    min-height: 300px;
    max-width: 100%
  }

  .nav {
    max-width: 1200px;
  }

  .nav .name {
    display: flex;
    margin-right: auto;
    color: white;
  }

  main {
    padding-top: 50px;
  }

  main p {
    line-height: 1.6em;
  }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }
  .header{
    max-width: 20%;
  }
}

/* // Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */
